interactions:
- request:
    body: '{"defaultExecutionStartToCloseTimeout": "20", "domain": "IntegrationTest",
      "version": "1", "name": "ExitWorkflow", "defaultChildPolicy": "TERMINATE", "defaultTaskStartToCloseTimeout":
      "10", "defaultTaskList": {"name": "tl"}}'
    headers:
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.RegisterWorkflowType]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"__type":"com.amazonaws.swf.base.model#TypeAlreadyExistsFault","message":"WorkflowType=[name=ExitWorkflow,
        version=1]"}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [22e1f1c1-da02-11e4-bff1-1da121a1f228]
    status: {code: 400, message: Bad Request}
- request:
    body: '{"domain": "IntegrationTest", "workflowType": {"version": "1", "name":
      "ExitWorkflow"}}'
    headers:
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.DescribeWorkflowType]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"configuration":{"defaultChildPolicy":"TERMINATE","defaultExecutionStartToCloseTimeout":"20","defaultTaskList":{"name":"tl"},"defaultTaskStartToCloseTimeout":"10"},"typeInfo":{"creationDate":1.42806418128E9,"status":"REGISTERED","workflowType":{"name":"ExitWorkflow","version":"1"}}}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [22f8fc4b-da02-11e4-ba06-81daa04eaa6a]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"domain": "IntegrationTest", "taskList": {"name": "tl"}, "identity": "test"}'
    headers:
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.PollForDecisionTask]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"events":[{"eventId":1,"eventTimestamp":1.428066343834E9,"eventType":"WorkflowExecutionStarted","workflowExecutionStartedEventAttributes":{"childPolicy":"TERMINATE","executionStartToCloseTimeout":"20","input":"[[],
        {}]","parentInitiatedEventId":0,"taskList":{"name":"tl"},"taskStartToCloseTimeout":"10","workflowType":{"name":"TestWorkflow","version":"1"}}},{"decisionTaskScheduledEventAttributes":{"startToCloseTimeout":"10","taskList":{"name":"tl"}},"eventId":2,"eventTimestamp":1.428066343834E9,"eventType":"DecisionTaskScheduled"},{"decisionTaskStartedEventAttributes":{"identity":"test","scheduledEventId":2},"eventId":3,"eventTimestamp":1.428066344469E9,"eventType":"DecisionTaskStarted"}],"previousStartedEventId":0,"startedEventId":3,"taskToken":"AAAAKgAAAAIAAAAAAAAAAtSYJp3kkLYFt3KsubVxu/Ouf0+SKS+c6OHbDNV9IbIkWxhrIAZHjeGAKZ2ElpmtR/cmZFjptQxfNlhWxM/JKTyRqRbOXDtIrTPPr8Iej+gRQfO+rVT56dwdiYk1RBdaThtAnJA3qIZUR6Op9Iv5lCkxbMT0TtjpMWQiKbSX0uZmD0nWCRnrYXC3EnJkfKZMGM35EvLnivwWyTDeqdHz0EAFFA+nw1ZE/dhJWNgVtkfQibFj9SZu4NSvGmvt7GTD0MvYzcA2k33AfUJAkqFXdg0Rlv+v7ix6F0tvJ0V0DfRLJJoiw0aEFcTRUC902e9ooMnd8WJysLfKdgbfBh7k+3k=","workflowExecution":{"runId":"22UXpHnwgQ0DJjn0e7xud0ti3w43YIzrQpXasje4lrcWc=","workflowId":"a61bda5e-32d3-4580-a1c4-8414757c593b"},"workflowType":{"name":"TestWorkflow","version":"1"}}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [233c94a7-da02-11e4-b314-d32553d721ac]
    status: {code: 200, message: OK}
- request:
    body: '{"decisions": [{"scheduleActivityTaskDecisionAttributes": {"input": "[[10,
      11], {}]", "activityId": "activity-0-0", "activityType": {"version": "1", "name":
      "tactivity"}}, "decisionType": "ScheduleActivityTask"}], "taskToken": "AAAAKgAAAAIAAAAAAAAAAtSYJp3kkLYFt3KsubVxu/Ouf0+SKS+c6OHbDNV9IbIkWxhrIAZHjeGAKZ2ElpmtR/cmZFjptQxfNlhWxM/JKTyRqRbOXDtIrTPPr8Iej+gRQfO+rVT56dwdiYk1RBdaThtAnJA3qIZUR6Op9Iv5lCkxbMT0TtjpMWQiKbSX0uZmD0nWCRnrYXC3EnJkfKZMGM35EvLnivwWyTDeqdHz0EAFFA+nw1ZE/dhJWNgVtkfQibFj9SZu4NSvGmvt7GTD0MvYzcA2k33AfUJAkqFXdg0Rlv+v7ix6F0tvJ0V0DfRLJJoiw0aEFcTRUC902e9ooMnd8WJysLfKdgbfBh7k+3k="}'
    headers:
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.RespondDecisionTaskCompleted]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [236467d4-da02-11e4-8785-19065687e6ea]
    status: {code: 200, message: OK}
- request:
    body: '{"domain": "IntegrationTest", "taskList": {"name": "tl"}, "identity": "test"}'
    headers:
      Content-Type: [application/json; charset=UTF-8]
      X-Amz-Target: [com.amazonaws.swf.service.model.SimpleWorkflowService.PollForDecisionTask]
    method: POST
    uri: https://swf.us-east-1.amazonaws.com/
  response:
    body: {string: !!python/unicode '{"events":[{"eventId":1,"eventTimestamp":1.428066343834E9,"eventType":"WorkflowExecutionStarted","workflowExecutionStartedEventAttributes":{"childPolicy":"TERMINATE","executionStartToCloseTimeout":"20","input":"[[],
        {}]","parentInitiatedEventId":0,"taskList":{"name":"tl"},"taskStartToCloseTimeout":"10","workflowType":{"name":"TestWorkflow","version":"1"}}},{"decisionTaskScheduledEventAttributes":{"startToCloseTimeout":"10","taskList":{"name":"tl"}},"eventId":2,"eventTimestamp":1.428066343834E9,"eventType":"DecisionTaskScheduled"},{"decisionTaskStartedEventAttributes":{"identity":"test","scheduledEventId":2},"eventId":3,"eventTimestamp":1.428066344469E9,"eventType":"DecisionTaskStarted"},{"decisionTaskCompletedEventAttributes":{"scheduledEventId":2,"startedEventId":3},"eventId":4,"eventTimestamp":1.428066344689E9,"eventType":"DecisionTaskCompleted"},{"activityTaskScheduledEventAttributes":{"activityId":"activity-0-0","activityType":{"name":"tactivity","version":"1"},"decisionTaskCompletedEventId":4,"heartbeatTimeout":"10","input":"[[10,
        11], {}]","scheduleToCloseTimeout":"60","scheduleToStartTimeout":"30","startToCloseTimeout":"15","taskList":{"name":"tl"}},"eventId":5,"eventTimestamp":1.428066344689E9,"eventType":"ActivityTaskScheduled"},{"activityTaskStartedEventAttributes":{"identity":"test","scheduledEventId":5},"eventId":6,"eventTimestamp":1.428066344752E9,"eventType":"ActivityTaskStarted"},{"activityTaskCompletedEventAttributes":{"result":"21","scheduledEventId":5,"startedEventId":6},"eventId":7,"eventTimestamp":1.428066344925E9,"eventType":"ActivityTaskCompleted"},{"decisionTaskScheduledEventAttributes":{"startToCloseTimeout":"10","taskList":{"name":"tl"}},"eventId":8,"eventTimestamp":1.428066344925E9,"eventType":"DecisionTaskScheduled"},{"decisionTaskStartedEventAttributes":{"identity":"test","scheduledEventId":8},"eventId":9,"eventTimestamp":1.428066344979E9,"eventType":"DecisionTaskStarted"}],"previousStartedEventId":3,"startedEventId":9,"taskToken":"AAAAKgAAAAIAAAAAAAAAApnlelrCrvsg6F0G9re+Q1aNqa0JnZITd0swmPMPFcO2ZSuXeJTchLoKXyGt04BWO/Le02VGqxtbPRY6rLngvGp+TXiuY38fiysAD7hewLiKJNF+EPxbEJ5tL7kbOvgY+PGRj1e9g7Ac5gFnOmWMB+9+4dJcNqk1JjxYA+eIyWhSrnIZvp/770Bt956BnGsGiuCHJ9ijV+xyRsyVV9yz5oH8mEMs82+MOBgVpoznom71QX6OUvjOvLwHqDSt1xgpSoIBtc4KhpAfv6OF2Bod7FVomexTF6H46EtbSheFCh6kUOTSDim72twX/CetsdLL+xxGG50N9hh1Qj5ub6AC4xc=","workflowExecution":{"runId":"22UXpHnwgQ0DJjn0e7xud0ti3w43YIzrQpXasje4lrcWc=","workflowId":"a61bda5e-32d3-4580-a1c4-8414757c593b"},"workflowType":{"name":"TestWorkflow","version":"1"}}'}
    headers:
      content-type: [application/json]
      x-amzn-requestid: [2382509d-da02-11e4-a288-0fd236cf955c]
    status: {code: 200, message: OK}
[...]
